#subscribe {
    position: relative;
    padding: 50px 0px;
}

#subscribe::before {
    content: "";
    position: absolute;
    background: url(cylockbg.png) no-repeat center center/cover;
    width: 100%;
    height: 90%;
    z-index: -2;
    opacity:0.8;
}

#subscribe-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
    font-family: 'Quicksand', sans-serif;
}

#subscribe-box input,
#subscribe-box textarea {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    border-radius: 15px;
    text-align: center;
}
#subscribe-box input:hover,
#subscribe-box textarea:hover{
   background-color: rgb(228, 226, 226);
   transform: scale(0.97);
}
#subscribe-box input:focus,
#subscribe-box textarea:focus {
   background-color: rgb(167, 171, 172);
   transform: scale(0.93);
}

#subscibe-box form {
    width: 30%;
}

#subscribe-box label {
    font-size: 1.4rem;
}

#subscribe .btn {
    display: block;
    margin: 10px 112px;
    padding:10px 10px;
    width: 50%;
    text-align: center;
    border-radius: 10px;
    font-family: 'Quicksand', sans-serif;
}
#subscribe .btn:hover{
    border-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    font-weight: bold;
    background-color: rgb(0, 118, 253);
    cursor: pointer;
}





/* Utility classes */
.h-primary {
    font-size: 3rem;
    padding: 30px 0px;
    font-family: 'Tenor Sans', sans-serif;
    align-items: center;
    text-align: center;
}
.h-secondary{
    font-size: 1.9rem;
    align-items: center;
    font-family: 'Tenor Sans', sans-serif;
    text-align: center;
}

.center {
    text-align: center;
}